asyncio==3.4.3
fastapi==0.116.1
fastapi-cli==0.0.8
fastapi-cloud-cli==0.1.5
geopandas==1.1.1
geopy==2.4.1
httptools==0.6.4
openpyxl==3.1.5
OWSLib==0.34.1
pip==24.1.2
psycopg2==2.9.9
python-dotenv==1.1.1
python-multipart==0.0.20
redis==5.0.4
rfc3986==1.5.0
uvloop==0.21.0
watchfiles==1.1.0
websockets==15.0.1
wheel==0.43.0
